/* CSS files add styling rules to your content */



body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background: #1222;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#console{
  font-style: italic;
  position: absolute;
  transform:translateY(100%);
  color: green;
}

video {
  position: absolute;
  transform:translateY(30%);
}